<h1>Editing reservationc</h1>

<%= render "form", reservationc: @reservationc %>

<br>

<div>
  <%= link_to "Show this reservationc", @reservationc %> |
  <%= link_to "Back to reservationcs", reservationcs_path %>
</div>
