<p style="color: green"><%= notice %></p>

<h1>Reservationcs</h1>

<div id="reservationcs">
  <% @reservationcs.each do |reservationc| %>
    <%= render reservationc %>
    <p>
      <%= link_to "Show this reservation", reservationc %>
    </p>
  <% end %>
</div>

<%= link_to "New reservation", new_reservationc_path %>
